.sms-page
  = render 'shared/signup-progress-header'
  .signup-main 
    .signup-main__container
      %h2.signup-main__container__header
        電話番号の確認
      .signup-main__container__form
        .signup-main__container__form__box
          = form_for @user, class: "registration-form", url: address_signup_index_path do |f|
            = hidden_field_tag :current_step, 'sms_confirmation'
            .signup-inner
              .form-group
                = f.fields_for :phonenumber do |t|
                  = t.label :携帯電話の番号
                  = t.telephone_field :phone_number, placeholder: "携帯電話の番号を入力" , autofocus: true, class: "login-input-text input-default"
                  = @user.errors.full_messages_for(:phone_number).first
                  %p.identification-text
                    本人確認のため、携帯電話のSMS(ショートメッセージサービス)を利用して認証を行います。
                .form-group
                  = f.submit "次へ進む", class: 'login-submit btn-default btn-red'
                  %p.identification-text
                    ※電話番号は本人確認や不正利用防止のために利用します。他のユーザーに公開されることはありません。
                .link-text-right
                  %p
                    %a{ href: '#'}電話番号の確認が必要な理由
  = render 'shared/signup-footer'

